body {
  background: -webkit-linear-gradient(
    rgb(252, 107, 72),
    rgb(249, 95, 100),
    rgb(239, 81, 128)
  ); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(
    rgb(252, 107, 72),
    rgb(249, 95, 100),
    rgb(239, 81, 128)
  ); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(
    rgb(252, 107, 72),
    rgb(249, 95, 100),
    rgb(239, 81, 128)
  ); /* Firefox 3.6 - 15 */
  background: linear-gradient(
    rgb(252, 107, 72),
    rgb(249, 95, 100),
    rgb(239, 81, 128)
  ); /* 标准的语法 */
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: auto;
  height: 100%;
  width: 100%;
}
